* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

p {
    text-align: center;
    color: white;
}

.container {
    width: 500px;
    height: 400px;
    position: absolute;
    left: calc(50% - 500px/2);
    top: calc(50% - 400px/2);
}

.box-one {
    width: 250px;
    height: 200px;
    background-color: red;
    border-radius: 25px 25px 0 25px;
    position: absolute;
    top: 2px;
}

.box-two {
    width: 250px;
    height: 200px;
    background-color: green;
    border-radius: 25px 25px 25px 0;
    position: absolute;
    top: 2px;
    right: 2px;


}

.box-three {
    width: 250px;
    height: 200px;
    background-color: yellow;
    border-radius: 25px 0 25px 25px;
    position: absolute;
    top: 200px;
}

.box-four {
    width: 250px;
    height: 200px;
    background-color: blue;
    border-radius: 0 25px 25px 25px;
    position: absolute;
    top: 200px;
    right: 2px;

}

.rect-one {
    background-color: gray;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: calc(20% - 60px);
    left: calc(50% - 90px);
    z-index: -1;
}

.rect-two {
    background-color: gray;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: calc(20% - 60px);
    left: calc(50% - 70px);
    z-index: -1;
}
.rect-three{
    background-color: gray;
    width:150px;
    height: 50px;
    border-radius:10px;
    transform: rotate(-90deg);
    position:absolute;
    top:calc(40% - 200px);
    left:calc(20% - 130px);
    z-index: -1;
   
}
.rect-four{
    background-color: gray;
    width:150px;
    height: 50px;
    border-radius:10px;
    transform: rotate(-90deg);
    position:absolute;
    top:calc(80% - 100px);
    left:calc(20% - 380px);
    z-index: -1;
   
   
}

