.container{
    position:relative;
    display:flex;
    margin:50px;

}

img{
    width:50%;
    height:650px;
   
 }
.form{
   
    background-color: white;
    width:50%;
}
h1{
    color:gray;
    margin-left: 110px;
}
.underline{
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-color:rgb(255, 192, 203);
}
.checkbox{
    width: 10px;
    height:20px;
    position: absolute;
    top:49%;
    left:58%;
}
p{
    margin-left: 120px;
}
.media{
    margin-top:100px;
    text-align: center;
}
input{
    border-radius: 25px;
    margin-left: 120px;
    margin-bottom: 50px;
    width:60%;
    height:35px;
}
label{
    margin-left: 120px;
    margin-bottom: 50px;
}

.button{
    background-color: rgb(255, 192, 203);
    color: white;
    width:60%;
    height:35px;
    border-radius: 25px;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}
p > a{
    color:pink
}
.fa-facebook-official{
   position:absolute;
   left:76%;
   color: pink;
}
.fa-instagram{
   position:absolute;
   left:78%;
   color: gray;
}
.fa-twitter{
    position:absolute;
    left:80%;
    color: gray;
}
.box-one{
    width:350px;
    height: 100px;
    background-color:rgb(255, 192, 203);
    z-index: -1;
    position: absolute;
    top:0;
    right:0;
}
.box-two{
    width:550px;
    height: 100px;
    background-color:rgba(137, 43, 226, 0.704);
    z-index: -1;
    position: absolute;
    left:0;
    bottom:0;
}