.container{
    border: 5px solid gray;
    width:600px;
    height:400px;
    margin: auto;
    margin-top: 100px;
}
img{
    width:300px;
    height:400px;
}
.form{
    position: absolute;
    top:105px;
    left:50%;
    background-color:rgb(128, 128, 128);
    height:400px;
    width:300px;
}
h1{
    color:blanchedalmond;
    margin-left: 10px;
}
.underline{
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-color:blanchedalmond;
}
p{
    margin-left: 30px;
}
.media{
    text-align: center;
}
input{
    border-radius: 25px;
    margin-bottom: 10px;
    margin-left: 30px;
    width:60%;
    height:15px;
}
label{
    margin-left: 30px;
}
.checkbox{
   position: absolute;
    top:50%;
    left:30%;
    width:10px;
    height:20px;
    
}
.button{
    background-color:rgba(0, 0, 0, 0.504);
    color: white;
    width:60%;
    height:25px;
    border-radius: 25px;
    margin-left: 30px;
}
.fa-facebook-official{
   position:absolute;
   left:40%;
   color: blanchedalmond;
}
.fa-instagram{
   position:absolute;
   left:50%;
   color: blanchedalmond;
}
.fa-twitter{
    position:absolute;
    left:60%;
    color: blanchedalmond;
}
.box-one{
    width:300px;
    height: 100px;
    background-color:beige;
    z-index: -1;
    position: absolute;
    left: 55%;
    top:10%;
}
.box-two{
    width:400px;
    height: 150px;
    background-color:rgba(128, 128, 128, 0.36);
    z-index: -1;
    position: absolute;
    left:25%;
    top:55%;
}
