body {
   background-color: rgb(137, 43, 226);
   border-radius: 20px;
}

.main-container {
   width: 100%;
   display: flex;
   position: relative;
}

.container {
   width: 30%;
   height: 720px;
   background-color: white;
   border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
   margin: 5px;
   position: relative;
}

img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   margin-left: 50px;
   margin-top: 30px;
   border: 2px solid black;
}

hr {
   height: 5px;
   background-color: rgb(137, 43, 226);
   margin-left: 50px;
   margin-right: 50px;
}

p {
   position: absolute;
   top: 5%;
   left: 30%;
}



h1,
h2 {
   color: white;
   margin-left: 150px;
}

#myinput {
   width: 700px;
   height: 40px;
   border-radius: 15px;
   margin-bottom: 50px;
   margin-top: 100px;
   margin-left: 150px;
   font-size: medium;
}

input {
   width: 700px;
   height: 40px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-bottom: 20px;
   margin-left: 150px;
}

li[disabled] {
   color: gray;
}

.task {
   position: absolute;
   top: 30%;
   left: 30%;
}

ul {
   position: absolute;
   top: 35%;
   left: 30%;
   list-style-type: none;
}

li {
   padding-bottom: 10px;
}

.pink {
   color: pink;
   font-size: 15px;
}

.yellow {
   color: yellow;
   font-size: 15px;

}

.blue {
   color: blue;
   font-size: 15px;
}

.gray {
   font-size: 15px;
}

.scheduled-task {
   position: absolute;
   top: 55%;
   left: 25%;
}

.settings {
   position: absolute;
   top: 65%;
   left: 25%;
}

.fa-cog {
   position: absolute;
   left: 20%;
   top: 68%;
}

.fa-calendar-check-o {
   position: absolute;
   left: 25%;
   top: 32%;
}

.fa-calendar {
   position: absolute;
   left: 20%;
   top: 57%;
}

.input-one>.fa-calendar-o {
   position: absolute;
   left: 95%;
   top: 30%;
   color: blueviolet;
}

.input-one>.fa-clock-o {
   position: absolute;
   left: 91%;
   top: 30%;
   color: blueviolet;
}

.fa-calendar,
.fa-cog[disabled] {
   color: gray;
}
.input-one,
.input-two,
.input-three,
.input-four,
.input-five {
   position: relative;
}

.input-two i.fa-regular {
   position: absolute;
   top: 50%;
   right: 40px;
   transform: translateY(-50%);
   font-size: 20px;
   color: blueviolet;
}

.input-three i.fa-circle-thin {
   position: absolute;
   top: 53%;
   right: 40px;
   transform: translateY(-50%);
   font-size: 20px;
   color: blueviolet;
}

.input-four i.fa-circle-thin {
   position: absolute;
   top: 62%;
   right: 40px;
   transform: translateY(-50%);
   font-size: 20px;
   color: blueviolet;
}

.input-five i.fa-circle-thin {
   position: absolute;
   top: 71%;
   right: 40px;
   transform: translateY(-50%);
   font-size: 20px;
   color: blueviolet;
}

.input-two .right {
   position: absolute;
   top: 50%;
   right: 100px;
   transform: translateY(-50%);
   font-size: 15px;
}

.input-three .right {
   position: absolute;
   top: 53%;
   right: 100px;
   transform: translateY(-50%);
   font-size: 15px;
}

.input-four .right {
   position: absolute;
   top: 62%;
   right: 100px;
   transform: translateY(-50%);
   font-size: 15px;
}

.input-five .right {
   position: absolute;
   top: 71%;
   right: 100px;
   transform: translateY(-50%);
   font-size: 15px;
}

.input-one>.pink {
   position: absolute;
   top: 30%;
   left: 20%;
}

.input-one>.yellow {
   position: absolute;
   top: 30%;
   left: 22%;
}

.input-one>.blue {
   position: absolute;
   top: 30%;
   left: 24%;
}