body {
    background: url('https://cdn.mos.cms.futurecdn.net/VfWJuCeDZuK2Jf2rARpiUk-1200-80.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container{
  margin-right: auto;
  margin-left: auto;
  
}
@media only screen and (min-width: 1200px)
{
  .container{
    max-width: 1140px;
  }
}
h1{
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.flex{
  background-color: rgba(0, 217, 255, 0.316);
  padding:25px; 
  color: white;
  
}
input{
  background: transparent;
  margin:10px;
  height:20px;
  width:300px;
  
}
.tel-code{
  width:50px;
}

.lname,.state,.country{
  margin-left: 20%;
}

.order{
  color:white;
  background-color: rgb(0, 247, 255);
  height:30px;
  width:150px;
  position:relative;
  left:30%;
 
}
.reset{
  color:white;
  background-color: rgb(255, 247, 0);
  height:30px;
  width:150px;
  position:relative;
  left:30%;
}
::placeholder{
  color:white;
}
select{
  background: transparent;
  color:white;
  width:150px;
  
}
option{
  color:black;
}
p{
  color: white;
  text-align: center;
}
a:link{
  color:red;
}

 
